[Unit]
Description=Stat Service
After=network.target nss-lookup.target

[Service]
User=root
ExecStart=/usr/local/bin/stat -domain=__DOMAIN__ -reset=__RESETDAY__
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target